body{
    margin: 0 auto;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15px;
    color: black;
    background-color: rgb(182, 226, 199);
}

.center{
    width: 1000px;
    margin: 0 auto;
}

/* style header */
/* Logo */
#header{
    padding-top: 20px;
    padding-bottom: 10px;
}
#header h1{
    font-size: 30px;
    font-family: Verdana;
    text-align: center;
}
#header #logo{
    float: left;
}
#header #logo img{
    width: 120px;
}

#header .menu{
    float: right;
    padding-bottom: 20px;
}
#header .menu ul{
    padding: 0;
    margin: 0;
}
#header .menu ul li{
    display: inline-block;
    font-size: 15px;
}
#header .menu ul li a{
    display: inline-block;
    padding: 20px 10px;
    font-size: 17px;
    text-transform: uppercase;
    color: #373737;
    text-decoration: none;
}
#header .menu ul li a:hover{
    color: dodgerblue;
}

/* Style Popular*/
#BeritaUtama{
    padding-top: 150px;
    padding-bottom: 10px;
    text-align: center;
}    
#BeritaUtama .judul{
    text-transform: uppercase;
    font-size: 30px;
    text-align: center;
    margin-bottom: 30px;
}
.bagian{
    width: 1000px;
    overflow: hidden;
    margin-top: 10px;
    
}
.bagian .bagkiri{
    width: 450px;
    float: left;
    margin-right: 20px;
    padding: 15px 10px 25px 10px;
    background: #c0c0c0;
}
.bagian p{
    text-align: center;
}
.bagian img{
    width: 300px;
    box-shadow: bisque;
}

.bagian .bagkanan{
    width: 450px;
    float: right;
    margin-left: 20px;
    padding: 13px 15px 13px 15px;
    background: #c0c0c0;
}
/* Style berita pilihan */
#BeritaPilihan .highlight{
    width: 1000px;
    overflow: hidden;
    padding-top: 20px;
}
#BeritaPilihan h2{
    text-align: center;
    font-size: 30px;
    padding-bottom: 20px;
}
#BeritaPilihan h5{
    float:left;
    font-size: 20px;
}
#BeritaPilihan .isi1 img{
    width: 250px;
}
#BeritaPilihan .isi1 h6 a{
    display: inline-block;
    font-family: sans-serif;
    font-size: 20px;
    text-transform: uppercase;
    color: black;
    text-decoration: none;
}
#BeritaPilihan .isi1 h6 a:hover{
    color: dodgerblue;
}
#BeritaPilihan .isi1 p{
    font-size: 18px;
    font-family: Verdana;
    color: black;
}
#BeritaPilihan .isi2 img{
    width: 250px;
}
#BeritaPilihan .isi2 h6 a{
    display: inline-block;
    font-family: sans-serif;
    font-size: 20px;
    text-transform: uppercase;
    color: black;
    text-decoration: none;
}
#BeritaPilihan .isi2 h6 a:hover{
    color: dodgerblue;
}
#BeritaPilihan .isi2 p{
    font-size: 18px;
    font-family: Verdana;
    color: black;
}

#BeritaPilihan .isi3 img{
    width: 250px;
}
#BeritaPilihan .isi3 h6 a{
    display: inline-block;
    font-family: sans-serif;
    font-size: 20px;
    text-transform: uppercase;
    color: black;
    text-decoration: none;
}
#BeritaPilihan .isi3 h6 a:hover{
    color: dodgerblue;
}
#BeritaPilihan .isi3 p{
    font-size: 18px;
    font-family: Verdana;
    color: black;
}

#BeritaPilihan .button{
    float: right;
}

footer{
    padding: 10px 0 20px 0;
    text-align: center;
}
